.formCadastro {
    margin-left: 40%;
    margin-top: 12%;
    margin-right: 40%;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 7px 0px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.formCadastro-header {
	border-bottom: 1px solid;
    color: white;
    text-align: center;
    font-size: 21px;
    background: red;
}

.formCadastro-footer {
	border-top: 1px solid;
}

.formCampos {
    padding: 5%;
}

.form-center {
	margin-top:100px;
}

.btnSubmit {
	width:100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-menu {
	top:50px;
	width: 30%;
    margin-left: 34%;
    background-color: white;
    box-shadow: 0px 7px 7px -7px;
}

.navbar-custom {
   	width: 100%;
    margin-left: 6%;
}

.navbar-custom>li>a {
	margin: 5px;
    border-bottom: 2px solid;
    font-size: 20px;
}

.conteudo {
    margin-top: 15px;
}

.conteudo-header {
	border-bottom: 1px solid;
}

.conteudo-body {
	margin-top: 15px;	
}

.btnGroup {
	float: right;
    padding-bottom: 15px;
}

.btnAdicionar {
	padding: 31px;
}